.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;   
}

.add-product{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 70%;
}

.column{
    display: flex;
    justify-content: center;
    width: 100%;
}

.column div{
    padding: 10px;
}

.field-input{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
}

.feild-description{
    padding: 10px;
    box-sizing: border-box;
}

.input{
    height: 40px;
}

#decription{
    height: 100px;
}

.custom-file-input{
    height: 50px;
}

#file-input{
    padding: 10px;
}

.submit{
    box-sizing: border-box;
    margin-top: -50px;
    height: 40px;
    width: 100%;
}