<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Cart</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css"/>

</head>
<body>

<div th:replace="customer/fragment/navbar :: navbar"></div>

<!--    Home Customer-->
<h1 >Cart</h1>

<div th:replace="customer/fragment/footer :: footer"></div>

<div class="container">

    <!-- Cart -->
    <div th:if="${session.order.details.size()==0}">
        <h1 class="mt-5">Cart is empty</h1>
    </div>
    <section th:if="${session.order.details.size()>0}" class="h-100 h-custom">
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">

<!--                    <% if (list_od.size() == 0) { %>-->

<!--                    <% } %>-->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col" class="h5">Shopping Bag</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                            </tr>
                            </thead>
                            <tbody>

<!--                            <c:forEach items="${list_od}" var = "od">-->

                                <tr th:each="od : ${session.order.details}">
                                    <th scope="row">
                                        <a th:href="@{product/{id}(id=${od.getProduct().id})}">

                                            <div class="d-flex align-items-center">
                                                <img th:src="${od.getProduct().img}" class="img-fluid rounded-3"
                                                     style="width: 120px;" alt="Product">

                                                <div class="flex-column ms-4">
                                                    <p th:text="${od.getProduct().name}" class="mb-2" style="color:#2b6054; text-decoration: none;">${od.product.name}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </th>

                                    <td class="align-middle">
                                        <div class="d-flex flex-row">

                                            <a th:href="@{/cart/setQuantity/reduce/{productId}(productId=${od.getProduct().getId()})}">

                                                <button class="btn btn-link px-2"
                                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                                    </svg>
                                                </button>

                                            </a>


                                            <input id="form1" min="1" name="quantity" th:value="${od.quantity}" type="number" readonly
                                                   class="form-control form-control-sm" style="width: 50px;" />

                                            <a th:href="@{/cart/setQuantity/increase/{productId}(productId=${od.getProduct().getId()})}">
                                                <button class="btn btn-link px-2"
                                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                                    </svg>
                                                </button>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <p th:text="${od.price}" class="mb-0" style="font-weight: 500;"></p>
                                    </td>

                                    <td class="align-middle">
                                        <a th:href="@{/cart/setQuantity/delete/{productId}(productId=${od.getProduct().getId()})}">
                                            <button class="btn btn-link px-2"
                                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                                <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16" style="color: red;">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                                </svg>
                                            </button>
                                        </a>
                                    </td>
                                </tr>

<!--                            </c:forEach>-->
                            </tbody>
                        </table>
                    </div>

                    <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
                        <div class="card-body p-4">

                            <div class="row">
                                <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">
                                    <form>


                                    </form>
                                </div>

                                <div class="col-lg-4 col-xl-3">
                                    <div class="d-flex justify-content-between" style="font-weight: 500;">
                                        <p class="mb-2">Subtotal</p>
                                        <p th:text="${session.order.getTotalOrder()}" class="mb-2"> ${order.totalAmount} $</p>
                                    </div>

                                    <div class="d-flex justify-content-between" style="font-weight: 500;">
                                        <p class="mb-0">Shipping</p>
                                        <p class="mb-0">0 $</p>
                                    </div>

                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                                        <p class="mb-2">Total </p>
                                        <p th:text="${session.order.getTotalOrder()}" class="mb-2">${order.totalAmount} $</p>
                                    </div>

                                    <a  th:href="@{/order/checkout}">
                                        <button type="button" class="btn btn-primary btn-block btn-lg" style="background-color:#2b6054; color: white;">
                                            <div class="d-flex justify-content-between">
                                                <span>Checkout now!</span>

                                            </div>
                                        </button>
                                    </a>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
<!-- End of cart -->
</body>
</html>